@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --text-color: #f38e8e;
  --background-color: #9b0b0b;
  --hover-color: #c22626;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-color);
  height: 70px;
  position: fixed;
  width: 100%;
}
.logo {
  flex-grow: 1;
}
.logo img {
  margin-left: 5px;
  height: 70px;
}
nav {
  margin-right: 30px;
}

li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}
li:hover {
  background-color: var(--hover-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.menu-icon {
  visibility: hidden;
}
.welcome {
  background-image: url(/Project2/img/hell.jpg);
  min-height: calc(100vh - 70px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#about-us {
  background-color: var(--background-color);
  text-align: center;
  font-family: Roboto;
  color: var(--text-color);
  padding: 10px;
}
#about-us h1 {
  margin-bottom: 10px;
}
#kontakt {
  text-align: center;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px;
}
